/*Site-wide padding*/
$r-pad: 11%;
$site-lpad: 195px; /*Padding for general*/
$ss-site-lpad: 100px; /*Padding when screen width is less than 1050px*/
$xs-site-lpad: 50px; /*Padding when screen width is less than 900px*/
$xxs-site-lpad: 30px; /*Padding when screen width is less than 300px*/

$mc-red: #FF5252;
$mc-blue: #0097A7;
$mc-black: #101010;
$mc-darkblue: #161E21;
$mc-gray: #D4D4D4;

%content-header-2{
  font-size:36px;
  font-weight:100;
  padding-bottom:70px;
}
%content-text{
  line-height: 30px;
  font-size: 14px;
  color:$mc-gray;
}

/*Style reset*/
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color:white;
  text-decoration: none;
}
body {
  font-family: 'Roboto', Sans-Serif,serif;
  font-size: 22px;
  width:100%;
}

.dialog-off-canvas-main-canvas{
  overflow-x: hidden;
}

@media only screen and (min-width:1492px){
  #block-adchallenge-main-menu{
    display:inline-block!important;
    vertical-align: top!important;
  }
  header{
    text-align: center!important;
  }
  header .menu{
    padding-left:522px!important;
    float: initial!important;
  }
  header .block-system-branding-block{
    padding-left:0!important;
    float:initial!important;
  }
  header ul.menu{
    padding-right:0!important;
    margin-left:0!important;
  }
  #challenge-home h2{
    font-size:24px!important;
  }
  #block-latest-event .container{
    justify-content:center!important;
    .img-left{
      max-width:500px!important;
      width:initial!important;
    }
    .content-right{
      max-width:570px!important;
    }
  }
  #block-about-me .container{
    justify-content: center!important;
  }
  #block-about-me .content-left{
    max-width:420px!important;
  }
  #block-about-me .img-right{
    max-width:610px!important;
    padding-left:240px!important;
  }
  #block-about-me .container .img-right #square1{
    left:100px!important;
    width:36%!important;
  }
  #block-about-me .container .img-right #square2{
    left:550px!important;
    width:14%!important;
    height:25% !important;
  }
  #block-adchallenge-content .view-content{
    justify-content: space-evenly!important;
  }
  #block-adchallenge-content .views-element-container{
   margin:auto!important;
   max-width: 1090px!important;
  }
  #block-about-me .container .content-left h2, #block-latest-event h2, #block-adchallenge-content > h2:first-child{
    margin:auto;
    max-width: 1015px;
  }

}

/*Header*/
#bMenu{
  width:50px;
  height:50px;
  margin: 15px;
  display:none;
  position: absolute;
  top:0;
  right:35px;
  @media only screen and (max-width:780px){
    display: inline-block;
  }
  @media only screen and (max-width:400px){
    width:30px;
    height:45px;
    margin:8px;
  }
  @media only screen and (max-width:400px){
    width:20px;
  }
  .line{
    width: 45px;
    height: 5px;
    background-color: white;
    margin: 8px 0;
    @media only screen and (max-width:400px){
      width:35px;
      height:4px;
    }
  }
}
#block-top-content-header{
  background-size: cover;
  -moz-background-size: cover;
  width:100%;
  height:742px;
}

header{
  width:100%;
  height: 80px;
  position:fixed;
  z-index:500;
  top:0;
  left:0;
  background-color:rgba(0, 0, 0, 0.5);
  @media only screen and (max-width:400px){
    height: 65px;
  }
  .block-system-branding-block{
    padding-left: $site-lpad;
    display:inline-block;
    align-items: center;
    justify-content: center;
    float:left;
    padding-top:0.5em;
    @media only screen and (max-width:1050px){
      padding-left: $ss-site-lpad;
    }
    @media only screen and (max-width:900px){
      padding-left: $xs-site-lpad;
    }
    @media only screen and (max-width:300px){
      padding-left: $xxs-site-lpad;
    }
    .site-slogan{
      font-size:24px;
      line-height: 100%;
      height:55px;
      text-align:left;
      display:inline-table;
      vertical-align: middle;
      @media only screen and (max-width:400px){
        font-size:18px;
        height:45px;
      }
    }
    img{
      max-width:100%;
      width:50px;
      padding-right:30px;
      @media only screen and (max-width: 550px){
        padding-right:10px;
      }
      @media only screen and (max-width:400px){
        width:40px;
      }
    }
  }
  ul.menu{
    padding-top:2em;
    padding-right:$r-pad;
    @media only screen and (max-width:780px){
      position:relative;
      top:-500px;
      padding: 0px 25px 25px 30px;
      margin-top:80px;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  .menu{
    display:flex;
    float:right;
    vertical-align: top;
    font-size: 14px;
    line-height: 100%;
    @media only screen and (max-width:780px){
      display:none;
      font-size:25px;
      line-height: initial;
    }
    @media only screen and (max-width:385px){
      font-size:20px;
    }
    .menu-item{
      margin:0 1em;
      @media only screen and (max-width:780px){
        margin: 0 10px;
      }
    }
    a{
      text-transform: uppercase;
      overflow:hidden;
    }
    a:after {
      content: ' ';
      display: block;
      padding-top: 5px;
      width: 0;
      border-bottom: 2px solid $mc-blue;
      transition: 1s ease;
    }
    a:hover:after{
      width: 100%;
    }
    .active:after {
      content: ' ';
      display: block;
      padding-top: 5px;
      width: 100%;
      border-bottom: 2px solid $mc-blue;
    }
  }
}
/*End header*/

/*First box - home*/

#challenge-home{
  text-align:center;
  width:100%;
  position: absolute;
  top:435px;
  transform: translateY(-75%);
  h1{
    font-weight:100;
  }
  h2{
    margin:auto;
    font-size:calc(14px + 0.8vw);
    line-height:2em;
  }
  .field--type-link{
    background-color:$mc-red;
    width:180px;
    font-size:14px;
    text-transform: uppercase;
    font-weight: bold;
    margin:auto;
    padding: 14px 0px;
    border-radius: 6px;
    border:1px solid transparent;
  }
  .field--type-link:hover{
    border:1px solid white;
    background-color:black;
  }
}
#challenge-home:after{
  content : "";
  position: absolute;
  left    : 38%;
  bottom  : 150px;
  width   : 24%;
  border-bottom:1px solid white;
}

/*End first box - home*/

/*Second box - Latest news*/
.cArrow {
  margin-left:2px;
  display: inline-block;
  font-style: normal;
  position: relative;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.2em solid $mc-blue;
  border-top: 0.2em solid $mc-blue;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.cArrow:hover {
  border-right: 0.2em solid $mc-red;
  border-top: 0.2em solid $mc-red;
}



#block-adchallenge-content{
  padding:123px $site-lpad 102px;
  background-color:$mc-black;
  @media only screen and (max-width:1050px){
    padding: 123px $ss-site-lpad 102px;
  }
  @media only screen and (max-width:780px){
    padding: 123px $xs-site-lpad 102px;
  }
  @media only screen and (max-width:300px){
    padding: 123px $xxs-site-lpad 102px;
  }
  >h2:first-child{
    @extend %content-header-2;
    @media only screen and (max-width: 1200px){
      padding-bottom:25px;
    }
  }
  >h2:first-child:after{
    content:' ';
    display:block;
    padding-top:24px;
    width:100px;
    border-bottom:2px solid $mc-blue;
  }
  .view-content{
    display: flex;
    justify-content:space-between;
    @media only screen and (max-width: 780px){
      display: inline-block;
    }
    .views-row{
      display:inline-block;
      width:33%;
      max-width:310px;
      text-align:left;
      @media only screen and (max-width: 1400px){
        max-width:250px;
      }
      @media only screen and (max-width: 1200px){
        max-width:200px;
      }
      @media only screen and (max-width:900px){
        max-width: 170px;
        text-align: justify;
      }
      @media only screen and (max-width: 780px){
        display: block;
        width:100%;
        max-width:100%;
        padding-bottom:50px;
      }
      h2{
        font-size:24px;
      }
      img{
        width:310px;
        height:auto;
        @media only screen and (max-width: 1400px){
          width:250px;
        }
        @media only screen and (max-width: 1200px){
          width:200px;
        }
        @media only screen and (max-width:900px){
          width: 170px;
        }
        @media only screen and (max-width: 780px){
          width:100%;
        }
      }
      .node__content {
        > div:nth-child(3) p{
          @extend %content-text;
        }

        .createdDate {
          padding-top:10px;
          padding-bottom:24px;
          font-size: 12px;
        }

        .node__links {
          padding-top: 45px;
          font-size: 14px;
          font-weight: bold;
          @media only screen and (max-width: 780px){
            padding-top:25px;
          }
          ul.inline li {
            padding: 0;
          }
        }
      }
    }
  }
}



/*End Second box - news*/

/*Third box - latest events*/

#block-latest-event{
  background-color:$mc-darkblue;
  padding: 103px $site-lpad;
  @media only screen and (max-width: 1050px){
    padding: 103px $ss-site-lpad
  }
  @media only screen and (max-width:900px){
    padding: 103px $xs-site-lpad;
  }
  @media only screen and (max-width:300px){
    padding: 103px $xxs-site-lpad;
  }
  h2{
    @extend %content-header-2;
    @media only screen and (max-width: 1200px){
      padding-bottom: 25px;
    }
  }
  h2:after {
    content: ' ';
    display: block;
    padding-top: 24px;
    width: 100px;
    border-bottom: 2px solid $mc-blue;
  }
  .container{
    display: flex;
    justify-content:space-between;
    @media only screen and (max-width: 780px){
      display: inline-block;
      text-align: center;
    }
    .img-left{
      max-width:500px;
      width:45%;
      @media only screen and (max-width: 1200px){
        width:30%;
      }
      @media only screen and (max-width: 780px){
        width:100%;
        max-width:100%;
        margin:auto;
      }
      img{
        @media only screen and (max-width: 1200px){
          width:325px;
          height:auto;
        }
        @media only screen and (max-width: 780px){
          width:100%;
          max-width:100%;
        }
      }
    }
    .content-right{
      padding-left:36px;
      width:45%;
      max-width:50%;
      max-height:100%;
      @media only screen and (max-width: 1200px){
        width:50%;
      }
      @media only screen and (max-width: 780px){
        width:100%;
        max-width: 100%;
        padding-left:0px;
        text-align: left;
      }
      p{
        @extend %content-text;
        display:inline;
      }
    }
  }
}

/*End third box - latest events*/

/*Fourth box - about me*/

#block-about-me{
  background-color:$mc-black;
  padding: 103px $site-lpad;
  @media only screen and (max-width:1050px){
    padding: 103px $ss-site-lpad
  }
  @media only screen and (max-width:900px){
    padding:103px $xs-site-lpad;
  }
  @media only screen and (max-width: 780px){
    padding: 103px $xs-site-lpad 50px;
  }
  @media only screen and (max-width:300px){
    padding: 103px $xxs-site-lpad 50px;
  }
  .container{
    display: flex;
    justify-content:space-between;
    width:100%;
    @media only screen and (max-width: 780px){
      display: inline-block;
      text-align: center;
    }
    .content-left{
      max-width:35%;
      @media only screen and (max-width: 780px){
        max-width: 100%;
        text-align: left;
      }
      h2{
        @extend %content-header-2;
        @media only screen and (max-width: 1200px){
          padding-bottom: 25px;
        }
      }
      h2:after {
        content: ' ';
        display: block;
        padding-top: 24px;
        width: 100px;
        border-bottom: 2px solid $mc-blue;
      }
      p{
        @extend %content-text;
      }
    }
    .img-right{
      padding-left:50px;
      text-align:right;
      position:relative;
      z-index:100;
      @media only screen and (max-width: 1150px){
        width:43%;
      }
      @media only screen and (max-width: 780px){
        padding: 25px 0px;
        margin:auto;
        width:100%;
        text-align: center;
      }
      img{
        width: 350px;
        height: 350px;
        object-fit:none;
        @media only screen and (max-width: 1200px){
          width: 300px;
          height: 300px;
        }
        @media only screen and (max-width:780px){
          width: 100%;
          height: 100%;
          object-fit:contain;
        }
      }
      #square1 {
        background-color: $mc-blue;
        position: absolute;
        top: -70px;
        left: -45px;
        width: 50%;
        height: 56.18%;
        opacity: 0.1;
        z-index: -1;
        @media only screen and (max-width: 780px) {
          top: -50px;
          left: 60px;
          width: 30%;
          height: 50%;
        }
        @media only screen and (max-width: 650px){
          width:35%;
          left:15px;
        }
        @media only screen and (max-width: 550px){
          width:40%;
        }
        @media only screen and (max-width: 550px){
          left:-35px;
        }
        @media only screen and (max-width: 430px){
          left:-15px;
          width:55%;
        }
        @media only screen and (max-width:400px){
          left: -50px;
          top:-20px;
        }
      }
      #square2{
        background-color:$mc-red;
        position:absolute;
        top:305px;
        left:357px;
        width: 22%;
        height: 25%;
        z-index:-1;
        transform: rotate(45deg);
        opacity:0.1;
        @media only screen and (max-width: 1200px){
          top: 257px;
          left:311px;
        }
        @media only screen and (max-width: 780px){
          left:425px;
          width: 13%;
        }
        @media only screen and (max-width: 700px){
          left:401px;
          top: 275px;
        }
        @media only screen and (max-width: 650px){
          width:15%;
          left:380px;
        }
        @media only screen and (max-width: 550px){
          width:20%;
          left:330px;
        }
        @media only screen and (max-width: 470px){
          width:20%;
          left:285px;
        }
        @media only screen and (max-width: 430px){
          width:25%;
          left:250px;
        }
        @media only screen and (max-width:400px){
          top: 78%;
          left:85%;
        }
      }
    }
  }
}

/*End fourth box - about me*/

/*Footer*/

footer{
  text-align:center;
  #block-footer{
    background-color:#0F2123;
    font-size:14px;
    padding:27px 0;
    ul{
      display:inline-flex;
      @media only screen and (max-width: 430px){
        display:block;
        text-align: center;
        margin-left:0;
      }
      li{
        padding: 0 29px;
        @media only screen and (max-width: 430px){
          padding: 15px 0;
        }
        a{
          font-weight: bold;
          color: #949494;
        }
      }
    }
  }
  #block-footercreated{
     background-color:#1E2C2E;
     font-size:12px;
     padding:19px 0px;
     p{
       color:$mc-gray;
     }
     a{
       text-decoration: underline;
       font-weight: bold;
       color:white;
    }
  }
}
/*End footer*/

